<a class="lesson container rounded-3" href="./lessons/lesson-${index}.html">
    <div class="lesson-card-image">
        <img src="${lesson.img}" alt="">
    </div>
    <div class="lesson-card-info">
        <span class="lesson-card-tittle">${lesson.tittle}</span>
        <span class="lesson-card-description">
        ${lesson.descripcion}
        </span>
        <span>
            <span class="insignia-purple">Leccion ${index}</span>
            <span class="insignia-green">Gratis</span>
        </span>
    </div>
</a>